body.dialog-open {
  position: fixed;
  width: 100%;
}

.page-enter-active,
.page-leave-active {
  transition: opacity .2s;
}

.page-enter,
.page-leave-active {
  opacity: 0;
}

.box-fixed {
  position: relative;
  top: 0;
}

.tab_fix_bottom {
  position: absolute;
  bottom: 0;
  top: auto;
}

.tab_fix {
  position: fixed;
  top: 10px;
  right: 0;
}


@keyframes skeletonLoading {
  0% {
    background-position: 200% 0
  }

  to {
    background-position: -200% 0
  }
}

.Skeleton {
  color: transparent;
  background-image: linear-gradient(270deg,rgba(0,0,0,.1),rgba(0,0,0,.05),rgba(0,0,0,.05),rgba(0,0,0,.1));
  background-size: 400% 100%;
  animation: skeletonLoading 8s ease-in-out infinite
}

.Skeleton * {
  visibility: hidden
}

.Skeleton--text {
  -webkit-clip-path: inset(4px 0 4px 0 round 3px 3px 3px 3px);
  clip-path: inset(4px 0 4px 0 round 3px 3px 3px 3px)
}

.page-enter-active,.page-leave-active{
  transition: opacity .3s;
}
.page-enter,.page-leave-active{
  opacity: 0;
}
