@mixin font {
  font-size: 14px;
  font-weight: 500;
  color: rgba(255, 255, 255, .4);
  line-height: 1;
}

.md-dark {
  pre {
    position: relative;
    display: block;
    padding: 20px !important;
    padding-top: 0 !important;
    border-radius: 5px;
    margin: 20px 0 !important;
    background: #161718 !important;
    color: #DCDCDC;
    box-shadow: rgba(0, 0, 0, 0.55) 0px 10px 28px;
    overflow-y: hidden !important;
    overflow-x: scroll !important;
    font-family: 'hack', Menlo, Consolas, "Courier New", Courier, FreeMono, monospace !important;

    * {
      line-height: 1.6 !important;
      font-size: 14px;
      font-family: 'hack', Menlo, Consolas, "Courier New", Courier, FreeMono, monospace !important;
    }

    .actions {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: auto;
      height: 40px;
      margin-left: -20px;
      margin-right: -20px;

      &:before {
        content: " ";
        position: absolute;
        border-radius: 50%;
        background: #fc625d;
        width: 12px;
        height: 12px;
        left: 12px;
        top: 14px;
        box-shadow: 20px 0 #fdbc40, 40px 0 #35cd4b;
        z-index: 2;
      }

      &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        width: auto;
        height: 40px;
        background: #21252b;
      }

      .center {
        @include font;
        text-transform: uppercase;
        z-index: 100;
      }

      .right {
        @include font;
        margin-right: 15px;
        z-index: 100;
        cursor: pointer;
      }
    }
  }

  code {
    padding: 0 !important;
    margin: 0 !important;
    white-space: break-spaces;
  }


  .hljs-literal,
  .hljs-name,
  .hljs-symbol {
    color: #659bd1;
  }

  .hljs-keyword {
    color: #bc89bd;
  }

  .hljs-link {
    color: #569CD6;
    text-decoration: underline;
  }

  .hljs-built_in,
  .hljs-type {
    color: #4EC9B0;
  }

  .hljs-class,
  .hljs-number {
    color: #B8D7A3;
  }

  .hljs-meta-string,
  .hljs-string {
    color: #D69D85;
  }

  .hljs-regexp,
  .hljs-template-tag {
    color: #9A5334;
  }

  .hljs-formula,
  .hljs-function,
  .hljs-params,
  .hljs-subst,
  .hljs-title {
    color: #DCDCDC;
  }

  .hljs-comment,
  .hljs-quote {
    color: #57A64A;
    font-style: italic;
  }

  .hljs-doctag {
    color: #608B4E;
  }

  .hljs-meta,
  .hljs-meta-keyword,
  .hljs-tag {
    color: #9B9B9B;
  }

  .hljs-template-variable,
  .hljs-variable {
    color: #BD63C5;
  }

  .hljs-attr,
  .hljs-attribute,
  .hljs-builtin-name {
    color: #9CDCFE;
  }

  .hljs-section {
    color: gold;
  }

  .hljs-emphasis {
    font-style: italic;
  }

  .hljs-strong {
    font-weight: bold;
  }

  .hljs-bullet,
  .hljs-selector-attr,
  .hljs-selector-class,
  .hljs-selector-id,
  .hljs-selector-pseudo,
  .hljs-selector-tag {
    color: #D7BA7D;
  }

  .hljs-addition {
    background-color: #144212;
    display: inline-block;
    width: 100%;
  }

  .hljs-deletion {
    background-color: #600;
    display: inline-block;
    width: 100%;
  }

  .hljs-comment {
    font-style: normal;
  }
}
