@import '@/assets/css/utils.scss';

@include s-small {
  .article-item {
    padding-bottom: 0;

    .article-header {
      .article-category {
        flex-shrink: 0;
      }
      .article-title {
        font-size: 14px;
        @include line(1);
      }
    }

    .article-detail {
      .article-cover {
        display: none;
      }

      .article-content {
        .article-desc {
          @include line(3);
        }
      }
    }

    .article-ext {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: auto;
      height: 24px;
      margin: 10px -15px 0;
      padding: 5px 0;
      box-sizing: content-box;
      border-top: 1px solid var(--greyLight);


      > div {
        display: flex;
        align-items: center;
        font-size: 13px;
        margin-right: 20px;
        color: #999;
        line-height: 1;

        &:last-child {
          margin-right: 0;
        }

        &.like {
          color: #f78585;
          cursor: pointer;
        }

        i {
          margin-right: 5px;
        }
      }
    }
  }
  .article-ext {
    display: flex;
    align-items: center;
    width: auto;
    height: 36px;
    border-top: 1px solid #fafafa;
    margin-top: 5px;

    div {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

}
